<h3>以下の内容で、投稿する</h3>


  <!-- <%= form_for(@picture) do |f| %>
    <%= f.hidden_field :content %>
    <%= f.hidden_field :image %>


    <p><%= @picture.content %></p>
    <p><%= @picture.content %></p>
    <%= f.submit "投稿",class: 'btn btn-primary btn-block' %>
  <% end %>

  <%= form_for(@picture, url: new_picture_path, method: 'get') do |f| %>
    <%= f.hidden_field :content %>
    <%= f.hidden_field :image %>
    <%= f.submit "もどる", name: 'back', class: 'btn btn-default btn-block' %>
  <% end %> -->
