<p id="notice"><%= notice %></p>
<div class="main_content">
  <% @pictures.each do |picture| %>
    <div class="pictures center-block">
      <div class="content user_name">
        <%= picture.user.name %>
      </div>
      <p><%= image_tag picture.image_url %></p>
      <%= link_to "ピクチャーを編集する", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' if (picture.user && current_user.id == picture.user.id) %>
      <%= link_to "ピクチャーを削除する", picture_path(picture.id), method: :delete, data: {confirm: '本当に削除してもよろしいですか？' }, class: 'btn btn-default btn-sm btn-danger' if (picture.user && current_user.id == picture.user.id) %>

      <div class="content_area">
        <% if Favorite.now?(picture.id, current_user.id) %>
          <div class="content">
            <%= link_to 'いいねを取り消す', favorite_path(picture.id), method: :delete, class:'btn btn-danger' %>
          </div>
        <% else %>
          <div class="content">
            <%= link_to 'いいね！', favorites_path(picture_id: picture.id), method: :post, class:'btn btn-primary' %>
          </div>
        <% end %>
        <div class="content">
          <%= picture.content %>
        </div>
      </div>
    </div>
  <% end %>
</div>
